@main-color: #6a9641; //#8db964
@main-color-dark: #27351b;

@secondary-color: #50723C;
@secondary-color-dark: #324726;

@main-focus-color: #9dce70;

@main-disable-color: #444d3d;

@main-font-color: white;

.author-footer {
  position: fixed;
  bottom: 0;
  margin: -15px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin: auto;
  width: 100%;
  border: 1px solid @main-color-dark;
  background-color: @main-color;
  color: @main-font-color;
}

.login-page-jumbotron, .modal-content {
  margin-top: 100px;
  margin-bottom: 100px;
  border: 1px solid @main-color-dark;
  background-color: @main-color;
  color: @main-font-color;
}

.modal-content {
  .modal-header, .modal-footer {
    border: none;
  }

  .close {
    color: @main-font-color;
    opacity: 1;
  }
}

button.btn.btn-primary {
  border-color: @secondary-color;
  background-color: @secondary-color;

  &:active:not(:disabled):not(.disabled) {
    border-color: @main-color-dark;
    background-color: @main-color-dark;

    &:focus {
      box-shadow: 0 0 0 0.2rem @main-focus-color;  
    }
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem @main-focus-color;
  }

  &:hover {
    background-color: @secondary-color-dark;
  }
}

.form-group {
  input, select {
    border-color: @main-color-dark;
    &:focus {
      box-shadow: 0 0 0 0.2rem @main-focus-color;
    }
  }

  select {
    padding-right: 10px; 
  }
}

.alert-main {
  z-index: 1051;
}

.navbar-main {
  margin-left: -15px;
  margin-right: -15px;
  border: 1px solid @main-color-dark;
  background-color: @main-color;
  color: @main-font-color;
  margin-bottom: 30px;

  .nav-item {
    border-radius: 4px;

    &:hover {
      background-color: @secondary-color-dark;
      transition: color .15s ease-in-out,background-color .15s ease-in-out;
    }
  }

  .navbar-nav .nav-link, .navbar-text {
    color: @main-font-color;
    &:hover {
      color: @main-font-color
    }
  }

  .navbar-icon {
    font-size: 25px;
  }
}

.user-list-table {

  tr:last-child th:first-child {
    border-top-left-radius: 4px;
  }

  tr:last-child th:last-child {
    border-top-right-radius: 4px
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 4px
  }
  color: @main-font-color;

  thead tr:first-child {
    background-color: @secondary-color;
  }

  tr {
    background-color: @main-color;
  }
  tr.disabled {
    td {
      opacity: .65;
    }
    td:last-child {
      opacity: .75;
    }
    background-color: @main-disable-color;
  }

  .user-table-action-icon {
    font-size: 32px;
    padding: 5px;

    &:hover {
      border-radius: 4px;
      background-color: @secondary-color-dark;
      transition: color .15s ease-in-out,background-color .15s ease-in-out;
      cursor: pointer;
    }
  }
}

.icon-insted-button {
    font-size: 50px;
    color: @main-color;

    &:hover {
      border-radius: 4px;
      color: @secondary-color-dark;
      transition: color .15s ease-in-out,color .15s ease-in-out;
      cursor: pointer;
    }
}