@main-color: #708d58;
@main-color-dark: #3b552b; //#293820
@secondary-color: #707b66;

@main-color-focus-dark: #242d1e;
@main-focus-color-light: #79a94e;

@main-disable-color: #cad8cb;

@main-font-color: white;

.no-style-button {
	all: unset;
}

.author-footer {
	position: fixed;
	bottom: 0;
	padding-top: 10px;
	padding-bottom: 15px;
	margin: 0;
	width: 100%;
	color: @main-color-dark;
}

.login-page-jumbotron,
.modal-content {
	margin-top: 100px;
	margin-bottom: 100px;
	border: 1px solid @main-color-dark;
	background-color: @main-color;
	color: @main-font-color;
}

.modal-content {
	.modal-footer {
		border: none;
	}

	.close {
		color: @main-font-color;
		opacity: 1;
	}
}

button.btn.btn-primary {
	border-color: @main-color-dark;
	background-color: @main-color-dark;

	&:active:not(:disabled):not(.disabled) {
		// border-color: @main-color-dark;
		background-color: @main-color-dark;

		&:focus {
			box-shadow: 0 0 0 0.2rem @main-focus-color-light;
		}
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem @main-focus-color-light;
	}

	&:hover {
		background-color: @main-color-focus-dark;
	}
}

button.btn.btn-secondary {
	border-color: @secondary-color;
	background-color: @secondary-color;

	&:active:not(:disabled):not(.disabled) {
		background-color: @main-color-dark;

		&:focus {
			box-shadow: 0 0 0 0.2rem @main-focus-color-light;
		}
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem @main-focus-color-light;
	}

	&:hover {
		background-color: @main-color-focus-dark;
	}
}

.form-group {
	input,
	select {
		border-color: @main-color-dark;
		&:focus {
			box-shadow: 0 0 0 0.2rem @main-focus-color-light;
		}
	}

	select {
		padding-right: 10px;
	}
}

.alert-main {
	max-width: 300px;
	margin: 15px;
	z-index: 1051;
	left: unset;
	border: 1px solid @main-color-dark;	
}

.navbar-main {
	margin-left: -15px;
	margin-right: -15px;

	.nav-item {
		border-radius: 4px;
	}

	.navbar-nav .nav-link,
	.navbar-text {
		color: @main-color-dark;
	}

	.navbar-nav .nav-link {
		&:focus, &:hover {
			color: @main-focus-color-light;
			transition: color 0.15s ease-in-out;
		}
	}

	.navbar-icon {
		font-size: 30px;
	}
}

.categories-tabs {
	border-color: @main-color-dark;

	.nav-link {
		color: @main-color-dark;
		&:focus, &:hover {
			border-bottom-color: @main-color-dark; 
			color: @main-focus-color-light;
		}

		&.active {
			border-color: @main-color-dark @main-color-dark #fff;
			color: @main-focus-color-light;
		}
	}
}

.list-table {

	td, th {
		padding: .5rem;
	}

	tr:last-child th:first-child {
		border-top-left-radius: 4px;
	}

	tr:last-child th:last-child {
		border-top-right-radius: 4px;
	}

	color: @main-font-color;

	thead {
		
		th {
			&:hover, &:focus {
				outline: none;
			}
		}
		th.sortable {
			&:hover, &:focus {
				background-color: @main-focus-color-light;
				transition: background-color 0.15s ease-in-out;
				cursor: pointer;		
			}
		}

		tr:first-child {
			background-color: @main-color-dark;
		}
	}

	tbody tr {
		background-color: white;
		color: @main-color-dark;
	}

	tr.disabled {
		td {
			opacity: 0.65;
		}
		td:last-child {
			opacity: 0.75;
		}
		background-color: @main-disable-color;
	}

	.table-action-icon {
		font-size: 30px;
		padding: 5px;

		&:hover, &:focus {
			border-radius: 4px;
			color: @main-focus-color-light;
			transition: color 0.15s ease-in-out;
			cursor: pointer;
		}
	}
}

.pagination.react-bootstrap-table-page-btns-ul {
	float: right;

	.page-item .page-link {
		color: @main-color-dark;

		&:focus {
			box-shadow: 0 0 0 0.2rem @main-focus-color-light;
		}
	}

	.page-item.active .page-link {
		color: @main-font-color;
		border-color: @main-color-dark;
		background-color: @main-color-dark;
	}
}

.icon-add {
	font-size: 50px;
	color: @main-color-dark;

    &:hover,
	&:focus {
		outline: none;
		color: @main-focus-color-light;
		transition: color 0.15s ease-in-out, color 0.15s ease-in-out;
		cursor: pointer;
	}
}

.navbar-username-container {
    padding: 10px 10px;

    .navbar-username {
        font-weight: bold;
    }
}

.user-page-content-container {
	background-color: white;
	padding: 10px;
}

.user-page-navbar {
	max-height: 60px;
	border-bottom: 1px solid @main-color-dark;
	padding: 5px;

	.user-page-navbar-icon {
		width: 40px;
		font-size: 35px;
		color: @main-color-dark;

		&:hover, &.current-page {
			font-size: 40px;
			color: @main-focus-color-light;
			transition: color 0.15s ease-in-out;
		}
	}
}

.main-user-page-summary {
	border: 1px solid @main-color-dark;
	padding: 20px;
	border-radius: 4px;
}

.main-user-page-summary-last-exp,
.main-user-page-last-shops,
.main-user-page-last-categories {
	border: 1px solid @main-color-dark;
	padding: 20px;
	border-radius: 4px;
}

.additionaly-info {
	color: rgb(146, 146, 146);
	font-size: 13px;
	font-style: italic;
}

.add-new-container {
	margin-bottom: 3px;
}

.color-picker-wrapper {
	display: flex;
	align-items: center;
	padding: .375rem .75rem;

	.color-picker-circle {
		padding-right: 5px;
		font-size: 30px;
	}

	.color-picker {
		position:absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		opacity: 0;

		&:hover {
			cursor: pointer;
		}
	}
}

.custom-control-input {
	&:checked~.custom-control-label::before {
		border-color: @main-color-dark;
		background-color: @main-color-dark;	
	}
	
	&:focus~.custom-control-label::before {
		box-shadow: 0 0 0 0.2rem @main-focus-color-light;
	}
	
	&:not(:disabled):active~.custom-control-label::before {
		background-color: @main-focus-color-light;
		border-color: @main-focus-color-light;
	}
}

.icon-as-list-pointer {
	font-size: 20px;
	vertical-align: sub;
}

#current-page {
	color: @main-color-dark; 

	&.other-page-hover {
		color: @main-focus-color-light;
	}
}

.home-page-admin, .page-not-found-container {
	margin-top: 100px;
}

.home-page-user {
	margin-top: 20px;
}

@media (min-width: 960px) {
	.navbar-main {
		position: absolute;
		right: 3px;
	}
}

.invalid-feedback {
	color: #a70010;
	font-weight: bold;
}